
<div class="d-flex justify-content-center p-2">
  <h2>Zarejestruj się</h2>
  <form class="position-absolute top-50 start-50 translate-middle row w-45" 
  [formGroup]="registrationForm" name="registrationForm" role="form" (ngSubmit)="registerNewUser()">
    
    <div class="form-group d-flex justify-content-center mb-3">
      <input type="text" formControlName="login" class="form-control" id="login"  placeholder="Login">
    </div>
    <small class="text-danger" *ngIf="registrationForm.get('login')?.errors?.required">Pole wymagane</small>
    <small class=" text-danger" *ngIf="registrationForm.get('login').errors?.minlength">Login powinien składać się minimum z 6 znaków</small>
    <span 
    class="text-danger" 
    *ngIf="registrationForm.get('login').errors?.internalServerError">{{ registrationForm.get('login').errors?.internalServerError }}</span>

    <div class="form-group d-flex justify-content-center mb-3">
      <input type="password" formControlName="password" class="form-control" id="Password" placeholder="Password">
    </div>
    <small class=" text-danger" *ngIf="registrationForm.get('password').errors?.required">Pole wymagane</small>
    <small class=" text-danger" *ngIf="registrationForm.get('password').errors?.minlength">Hasło powinno składać się minimum z 6 znaków</small>

    <div class="form-group d-flex justify-content-center mb-3">
      <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First name">
    </div>
    <small class="text-danger" *ngIf="registrationForm.get('firstName')?.errors?.required">Pole wymagane</small>

    <div class="form-group d-flex justify-content-center mb-3">
      <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last name">
    </div>
    <small class="text-danger" *ngIf="registrationForm.get('lastName')?.errors?.required">Pole wymagane</small>


    <div class="form-group d-flex justify-content-center mb-3">
      <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email">
    </div>
    <small class="text-danger" *ngIf="registrationForm.get('email')?.errors?.required">Pole wymagane</small>


      <button type="submit" [disabled]="registrationForm.invalid" class="form-control btn btn-outline-primary btn-sm " >Utwórz konto</button>
  </form>
</div>
