

  <div  class="row">
    <div class="col-2 bg-light" style="height: 750px;">
      <label class="d-flex justify-content-center">Lista znajomych</label>
      <div *ngFor="let user of userList">
        <button type="button" style="width:100%" (click)="openConversation(user.login)" class="btn btn-secondary btn-block">{{user.login}}</button>
      </div>
    </div>
    <div class="col-10 bg-white row d-flex justify-content-center overflow-auto"  style="height: 750px; max-height: 750px; overflow: scroll; height: xyz;" #scrollMe>
      <div *ngFor="let message of conversation.messages; index as i" class="d-flex justify-content-center position-relative" [style.background-color]="colourConversation(i)">  
        <span class=" pt-5 w-100" >{{message.content}}</span>
        <span class=" position-absolute top-0 start-0" id="author" [style.background-color]="colourConversation(i)">Autor wiadomości : {{message.author}}</span>
        <span class="p-2 d-flex justify-content-end" [style.background-color]="colourConversation(i)">Data wysłania: {{message.sendDate | date : 'short'}}</span>
      </div>
    </div>
    <div class="col-2"></div>
      <div class="col-10">
        <textarea class="form-control" aria-label="With textarea"  (keyup.enter)="sendMessage($event.target.value)"></textarea>
      </div>
  
  </div>
  

