
<div class="d-flex justify-content-center p-2">
  <h2>Edycja danych profilowych</h2>
  <form class="position-absolute top-50 start-50 translate-middle row w-45" 
  [formGroup]="registrationForm" name="registrationForm" role="form" (ngSubmit)="updateAccountInformation()">
    
  <label for="login">Login użytkownika</label>
    <div class="form-group d-flex justify-content-center mb-3" id="login">
      <input type="text" formControlName="login" class="form-control" id="login"  placeholder="Login">
    </div>
    <small class="form=text text=danger" *ngIf="registrationForm.get('login')?.errors?.required">This field is required</small>

    <label for="password">Hasło</label>
    <div class="form-group d-flex justify-content-center mb-3" id="password">
      <input type="password" formControlName="password" class="form-control" id="Password" placeholder="Password">
    </div>
    <small class="form=text text=danger" *ngIf="registrationForm.get('password')?.errors?.required">This field is required</small>

    <label for="firstName">Imię</label>
    <div class="form-group d-flex justify-content-center mb-3" id="firstName">
      <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First name">
    </div>
    <small class="form=text text=danger" *ngIf="registrationForm.get('firstName')?.errors?.required">This field is required</small>

    <label for="lastName">Nazwisko</label>
    <div class="form-group d-flex justify-content-center mb-3">
      <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last name">
    </div>
    <small class="form=text text=danger" *ngIf="registrationForm.get('lastName')?.errors?.required">This field is required</small>
<div>
  <button (click)="deleteAccount()" class=" btn btn-danger btn-lg" >Usuń konto</button>
</div>
      <button type="submit" [disabled]="registrationForm.invalid" class="form-control btn btn-outline-primary btn-sm " >Zapisz zmiany</button>
  </form>
</div>